

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Administração Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
       <li class="nav-item">
        <a class="nav-link" href="seguranca/index">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="seguranca/login">Logout</a>
      </li>
     
      
    </ul>
  </div>
</nav>
      <div class="container">
		<h1 class="h3 mb-3 font-weight-normal">Produtos</h1>
		
	</div>
	
	<table class="table table-dark">
  <thead>
  
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PRODUTO</th>
      <th scope="col">VALOR</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="produto: ${produtos}">
      
      <td th:text="${produto.idprodutos}"/>
      <td th:text="${produto.nome}"/>
      <td th:text="${produto.valor}"/>
    </tr>
    
  </tbody>
</table>
<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">Usuarios</h1>
		
	</div>
	
	<table class="table table-dark">
  <thead>
  
    <tr>
      <th scope="col">Usuário</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
       <th scope="col">Ativo</th>
        <th scope="col">Criado</th>
         <th scope="col">Atualizado</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="usuario: ${usuarios}">
      
      <td th:text="${usuario.usuario}"/>
      <td th:text="${usuario.email}"/>
      <td th:text="${usuario.senha}"/>
      <td th:text="${usuario.ativo}"/>
      <td th:text="${usuario.criado_em}"/>
      <td th:text="${usuario.atualizado_em}"/>
    </tr>
    
  </tbody>
</table>
<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">Autorizações</h1>
		
	</div>
	
	<table class="table table-dark">
  <thead>
  
    <tr>
      <th scope="col">Usuário</th>
      <th scope="col">Autorização</th>
      <th scope="col">Autorizado</th>
       <th scope="col">Modificado</th>
        
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="autorizacao: ${autorizacoes}">
      
      <td th:text="${autorizacao.usuario}"/>
      <td th:text="${autorizacao.autorizacao}"/>
      <td th:text="${autorizacao.autorizado_em}"/>
      <td th:text="${autorizacao.modificado_em}"/>
      
    </tr>
    
  </tbody>
</table>
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

